nav {
    background-color: orange;
    border-bottom: 1px solid black;
}

.dropbtn {
    min-width: 160px;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: inherit;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: orange;
}

.dropdown-content a:hover {
    background-color: orange;
}

a:hover{
    color: white;;
}