.cont {
    background-color: #ccc;
}

.w3-show {
    transition: 0.3s ease-out;
    height: 100px;
    display: block;

}

.w3-hide {
    transition: 0.3s ease-out;
    visibility: hidden;
    font-size: 0;
}